<!DOCTYPE html>
<html>
<head>
  <title>ReactWebsite</title>
  <%= Gon::Base.render_data({}) %>
  <script src="http://fb.me/react-with-addons-0.13.1.js"></script>
  <script src="http://fb.me/JSXTransformer-0.13.1.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyB0EmPhb_aKaLjZMYVnMRe8XFR-3t9ZyfY&libraries=places"></script>
  <link rel='stylesheet' href='assets/fullcalendar/dist/fullcalendar.css' />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= requirejs_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<%= yield %>

</body>
</html>
